.details {
    font-style: italic;
}
.small {
    font-size: 0.8em;
}
.error {
    color: red;
}
.fieldError {
    background-color: #fee;
    border: 1px solid red;
}
.errorDetails {
    font-size: 0.8em;
    color: red;
}
body {
    font-family: Lato, sans-serif;
    color: #000;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
article h1, article h2 {
    margin-bottom: 8px;
}
blockquote {
    font-style: italic;
    color: #222;
    margin: 8px 0;
}
blockquote::before {
    content: "\201C";
}
blockquote::after {
    content: "\201D";
}
#cardno {
    width: 18ch;
}
#expmonth {
    width: 6ch;
}
#expyear {
    width: 8ch;
}
#csc {
    width: 4ch;
}