<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User list</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<h1>User list</h1>
<p>This page is only intended for administrator usage.</p>
<article th:each="account: ${users}">
    <h2 th:text="${account.username}">Jorma</h2>
    <p th:text="'Email: ' + ${account.email}">Email: pete@maansiirto.fi</p>
    <p th:text="'Password: ' + ${account.password}">Password: qwerty</p>
    <p th:text="'Credit card #: ' + ${account.creditCardNo}">Credit card #: 4201848294712453</p>
    <p th:text="'Expiration: ' + ${account.creditCardExpMonth} + '/' + ${account.creditCardExpYear}">Expiration: 1/2017</p>
    <p th:text="'CSC: ' + ${account.creditCardCsc}">CSC: 123</p>
    <p>Political opinions:</p>
    <ul>
        <li th:each="opinion: ${account.opinions}" th:text="${opinion.content}">Opinion</li>
    </ul>
</article>
</body>
</html>
