<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <div th:replace="header :: head"></div>
</head>
<body>

<h1>Login</h1>
<p th:if="${error}" class="error">Incorrect username or password.</p>
<p th:if="${logout}">You have been logged out.</p>
<p th:if="${signup}">Account created. You may now log in.</p>
<form action="#" th:action="@{/login}" method="POST">
    <table>
        <tr>
            <td><label for="username">Name</label>:</td>
            <td><input type="text" autofocus="autofocus" name="username" id="username"/></td>
        </tr>
        <tr>
            <td><label for="password">Password</label>:</td>
            <td><input type="password" name="password" id="password"/></td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
</form>

<p><a th:href="@{/signup}">Sign up</a></p>

</body>
</html>
