<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<h1>Messages</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<p th:if="${admin}"><a th:href="@{/debug}">User list</a></p>
<p><a th:href="@{/messages/new}">Send message</a></p>
<div th:each="message: ${messages}" th:remove="tag">
    <hr/>
    <article>
        <h2><a th:href="@{/messages/} + ${message.id}" th:utext="'Post by ' + ${message.poster.username}">Post by Jorma</a></h2>
        <blockquote th:utext="${message.poster.quote()}">Quote from Jorma</blockquote>
        <p th:if="${message.poster == user}"><a th:href="@{/messages/} + ${message.id} + '/delete'">Delete</a></p>
        <p th:utext="${message.summary()}"></p>
    </article>
</div>
</body>
</html>
