<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="'Post by ' + ${message.poster.username}">Post by Jorma</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<article>
    <h1 th:utext="'Post by ' + ${message.poster.username}">Post by Jorma</h1>
    <blockquote th:utext="${message.poster.quote()}">Quote from Jorma</blockquote>
    <p th:if="${message.poster == user}"><a th:href="@{/messages/} + ${message.id} + '/delete'">Delete</a></p>
    <p th:utext="${message.content}"></p>
</article>
</body>
</html>
