<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send message</title>
    <div th:replace="header :: head" th:remove="tag"></div>
</head>
<body>

<h1>Send message</h1>

<form action="#" th:object="${postMessage}" th:action="@{/messages/new}" method="POST">
    <fieldset>
        <legend><label th:for="${#ids.next('content')}">Message</label></legend>
        <textarea th:field="*{content}" th:errorclass="fieldError" placeholder="Message"
                  autofocus="autofocus"></textarea>
        <div th:if="${#fields.hasErrors('content')}" class="errorDetails" th:errors="*{content}"></div>
    </fieldset>
    <fieldset>
        <legend>Political opinions</legend>
        The message will be visible to users that agree with one or more of the selected opinions. Please check at least one.
        <div th:each="opinion: ${userOpinions}">
            <input type="checkbox" th:field="*{opinions}" th:value="${opinion.id}" th:errorclass="fieldError"/>
            &nbsp;<label th:for="${#ids.prev('opinions')}" th:text="${opinion.content}">Here be opinion</label>
        </div>
        <div th:if="${#fields.hasErrors('opinions')}" class="errorDetails" th:errors="*{opinions}"></div>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
