<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <div th:replace="header :: head" th:remove="tag"></div>
</head>
<body>

<h1>Sign up</h1>

<form action="#" th:object="${signup}" th:action="@{/signup}" method="POST">
    <fieldset>
        <legend>User details</legend>
        <table>
            <tr>
                <td><label th:for="${#ids.next('username')}">Username</label>:</td>
                <td>
                    <input type="text" th:field="*{username}" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('username')}" class="errorDetails" th:errors="*{username}"></div>
                </td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('email')}">Email address</label>:</td>
                <td>
                    <input type="email" th:field="*{email}" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('email')}" class="errorDetails" th:errors="*{email}"></div>
                </td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('password')}">Password</label>:<br/><span class="small">max 8 letters</span></td>
                <td>
                    <input type="password" th:field="*{password}" maxlength="8" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('password')}" class="errorDetails" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('confirmPassword')}">Confirm password</label>:</td>
                <td>
                    <input type="password" th:field="*{confirmPassword}" maxlength="8" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="errorDetails" th:errors="*{confirmPassword}"></div>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>Payment details</legend>
        <table>
            <tr>
                <td><label th:for="${#ids.next('cardNo')}">Credit card number</label>:</td>
                <td>
                    <input type="text" th:field="*{cardNo}" maxlength="16" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('cardNo')}" class="errorDetails" th:errors="*{cardNo}"></div>
                </td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('expMonth')}">Expiration date</label>:</td>
                <td>
                    <select th:field="*{expMonth}" th:errorclass="fieldError">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    &nbsp;/&nbsp;
                    <select th:field="*{expYear}" th:errorclass="fieldError">
                        <option th:each="year: ${years}" th:value="${year}" th:text="${year}">1998</option>
                    </select>
                    <div th:if="${#fields.hasErrors('expMonth')}" class="errorDetails" th:errors="*{expMonth}"></div>
                    <div th:if="${#fields.hasErrors('expYear')}" class="errorDetails" th:errors="*{expYear}"></div>
                </td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('csc')}">CSC</label>:</td>
                <td>
                    <input type="text" th:field="*{csc}" maxlength="3" th:errorclass="fieldError"/>
                    <div th:if="${#fields.hasErrors('csc')}" class="errorDetails" th:errors="*{csc}"></div>
                </td>
            </tr>
        </table>
        <span class="details">We will store your credit card details securely in plaintext.</span>
    </fieldset>
    <fieldset>
        <legend>Political opinions</legend>
        Please check at least one.
        <div th:each="opinion: ${opinionValues}">
            <input type="checkbox" th:field="*{opinions}" th:value="${opinion.id}" th:errorclass="fieldError"/>
            &nbsp;<label th:for="${#ids.prev('opinions')}" th:text="${opinion.content}">Here be opinion</label>
        </div>
        <div th:if="${#fields.hasErrors('opinions')}" class="errorDetails" th:errors="*{opinions}"></div>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
